.currentQadamjo .wrapper{
        margin-bottom: 44px;
        max-width: 1500px;
        display: flex;



}
.currentQadamjoImg{
        width: 50%;
        height: 394px;
        float: left;
        margin-right: 20px;



}
.qadamjoTitle{
        font-family: Raleway;
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;

        text-align: center;

}
.qadamjoDesc{
        font-family: Raleway;
        font-size: 20px;
        font-weight: 400;
        line-height: 23px;
        word-break: break-all;


}
